.file_icon {
  display: inline-block;
  margin: 5% 2% 0;
  width: 70%;
}

.file_name {
  display: block;
  font-weight: bold;
  margin-top: 2%;
}

.attach_block {
  display: inline-block;
  width: 25%;
}
