.file_icon {
  display: inline-block;
  margin: 5% 2% 0;
  width: 55px;
}

.file_name {
  display: block;
  font-weight: bold;
  margin-top: 2%;
}

.attach_block {
  display: inline-block;
  margin-bottom: 2%;
}

#attach,
.current_file_name,
.file_size,
.replace_link,
.display_remove,
.remove_link {
  display: inline-block;
  vertical-align: middle;
}

.attach_div {
  width: 500px;
  display: block;
}

.file_size {
  font-size: 13px;
  margin-left: 10px;
}

.current_file_name {
  font-size: 13px;
  margin-left: 10px;
}

.replace_link, .remove_link {
  font-size: 13px;
  margin-left: 10px;
}

.section #entity_extra table {
  width: 100%;
}

.error {
  color: red;
}

.attach_div.new .current_file_name {
  display: none !important;
}

.hidden {
  display: none !important;
}
