- collapsed = session[:entity_attachments].nil?
%br/
#attachments
  = subtitle :entity_attachments, collapsed, t(:extra_doc) + " (#{entity.attachments.count})"
  .attachments
    #entity_attachments{ hidden_if(collapsed) }
      %table
        %tr
          %td
          - if entity.attachments.present? #revert to below as ajax refresh won't show new docs if put up top
            - entity.attachments.each do |attach|
              .attach_block
                = link_to attach.filename, rails_blob_path(attach, disposition: "attachment")
