- collapsed = session[:entity_attachments].nil?
%br/
#attachments
  = subtitle :entity_attachments, collapsed, t(:extra_doc) + " (#{entity.attachments.count})"
  .attachments
    #entity_attachments{ hidden_if(collapsed) }
      %table
        %tr
          %td
            - if entity.attachments.present?
              - entity.attachments.each do |attach|
                .attach_block
                  = link_to attachment_preview(attach), download_attachment_path(attach), {title: attach.attachment_file_name}
                  .file_name= file_name(attach)
